<h1>Все группы</h1>
<%= link_to '<button type="button">Новая группа</button>'.html_safe, new_group_path %>
<%= will_paginate @groups %>

<ul class="groups">
  <%= render @groups %>
</ul>

<%= will_paginate @groups %>